#M3E 嵌入模型路径(m3e-base) 
M3E_EMBEDDINGS_MODEL_PATH=/alidata/models/moka-ai/m3e-base
M3E_FINETUNE_MODEL_PATH=/alidata/models/moka-ai/m3e-base-finetune-v1.0

#BGE 嵌入模型路径(bge-large-zh-v1.5) 
BGE_EMBEDDINGS_MODEL_PATH=/alidata/models/BAAI/bge-large-zh-v1.5
BGE_FINETUNE_MODEL_PATH=/alidata/models/BAAI/bge-large-zh-v1.5-finetune-v1.0

#llama-index评估使用的LLM路径
EVALUATE_MODEL_PATH=/alidata/models/qwen/Qwen-14B-Chat-Int4

# reranker评估模型的LLM路径
RERANKER_MODEL_PATH=/alidata/models/BAAI/bge-reranker-large

#DATASET数据集的postgres数据库配置
DATASET_POSTGRES_DB_HOST=<数据库IP地址>
DATASET_POSTGRES_DB_PORT=<数据库端口号>
DATASET_POSTGRES_DB_DATABASE=<数据库名称>
DATASET_POSTGRES_DB_USER=<数据库账号>
DATASET_POSTGRES_DB_PASSWORD=<数据库密码>

#postgres数据库配置（AI工地巡检宝）
AI_POSTGRES_DB_HOST=<数据库IP地址>
AI_POSTGRES_DB_PORT=<数据库端口号>
AI_POSTGRES_DB_DATABASE=<数据库名称>
AI_POSTGRES_DB_USER=<数据库账号>
AI_POSTGRES_DB_PASSWORD=<数据库密码>

#openai服务配置
open_ai_http_proxy=http://127.0.0.1:7890
open_ai_api_key=sk-xxxxx

#代理
no_proxy=127.0.0.1,localhost
https_proxy=http://127.0.0.1:7890
http_proxy=http://127.0.0.1:7890